@font-face {
  font-family: 'Hack';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
}

/* @font-face { */
/*   font-family: 'Hack'; */
/*   font-weight: 700; */
/*   font-style: normal; */
/*   font-display: swap; */
/*   unicode-range: U+000-5FF; */
/*   src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-bold-subset.woff?sha=3114f1256') format('woff'); */
/* } */

/* @font-face { */
/*   font-family: 'Hack'; */
/*   font-weight: 400; */
/*   font-style: italic; */
/*   font-display: swap; */
/*   unicode-range: U+000-5FF; */
/*   src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff'); */
/* } */

/* @font-face { */
/*   font-family: 'Hack'; */
/*   font-weight: 700; */
/*   font-style: italic; */
/*   font-display: swap; */
/*   unicode-range: U+000-5FF; */
/*   src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-bolditalic-subset.woff?sha=3114f1256') format('woff'); */
/* } */

html {
	font-family: Hack, monospace;
}

body{
	background-color: #fff;
}

.userPhoto{
	width: 96px;
	height: 96px;
	display: block;
	margin: 35px auto 11px;
	border-radius: 50%;
}

.userName{
	color: #333;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.25;
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.links{
	max-width: 675px;
	width: auto;
	display: block;
	margin: 27px auto;
}
.link{
	display: block;
	background-color: #dc1930;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	padding: 17px;
	text-decoration: none;
	font-size: 1rem;
	transition: all .25s cubic-bezier(.08,.59,.29,.99);
	border: solid #dc1930 2px;
}

.link:hover{
	background-color: #fff;
	color: #f00;
}
