* {	margin: 0; padding: 0; }

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
	/* Margins for most elements */
	margin-bottom: 1rem;
}

html { font-size: 100%; height: 100%; }

html,input,select,button {
	/* Set body font family and some finicky elements */
	font-family: 'Crimson', Georgia, Times, “Times New Roman”, serif;
	/*font-family: Georgia, Times, “Times New Roman”, serif;*/
}

body {
	/* Center body in page */
	margin: 0 auto;
	max-width: 46rem;
	padding: 1.4rem 2rem 0rem 2rem;
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	background: #fff;

	/* Main body text */
	color: #222;
	font-size: 1.5rem;
	line-height: 1.3;

/*	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;*/
}

/*main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}*/

::selection {
	background: #ff0;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	/*padding-top: .875rem;*/
	margin-top: 2.5rem;
	font-weight: bold;
}
h1, h2, h3 {
	/*padding-bottom: 0.1rem;*/
	margin-bottom: 1.5rem;
	/*border-bottom: 1px solid #f5f5f5;*/
}
h4, h5, h6 {
	margin-bottom: .3rem;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.3rem; }

a {
	color: #0529ff;
	/*text-decoration: underline;*/
	text-decoration: none;
}
a:hover, a:focus {
	color: #001693;
}
a:visited {
	color: #001693;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	color: inherit;
	text-decoration: inherit;
	display: block;
}
h1 > a:after, h2 > a:after, h3 > a:after, h4 > a:after, h5 > a:after, h6 > a:after {
	content: "\00a0\00a0\00a0";
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover,
h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
	color: inherit;
}
h1 > a:hover:after, h2 > a:hover:after, h3 > a:hover:after, h4 > a:hover:after, h5 > a:hover:after, h6 > a:hover:after,
h1 > a:focus:after, h2 > a:focus:after, h3 > a:focus:after, h4 > a:focus:after, h5 > a:focus:after, h6 > a:focus:after {
	content: "\00a0\00a7";
	color: #aaa;
}
h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited {
	color: inherit;
}

header > nav > ul { margin: 0; padding: 0; }
header > nav > ul > li {
	display: inline-block;
	margin: 0;
}
header > nav > ul > li:not(:last-child):after {
	color: #ccc;
	/*content: "/";*/
	content: ","
}
header > nav { margin-left: -1rem; }
header > nav > ul > li > a {
	display: inline-block;
	padding: 0.2rem 0 0.2rem 1rem;
	text-decoration: none;
	color: #666;
}
header > nav > ul > li > a:visited {
	color: #666;
}
header > nav > ul > li > a:hover,
header > nav > ul > li > a:focus {
	color: #000;
}
header > nav > ul > li.active-page > a {
	color: #dc1930;
}

header { border-bottom: 0.05rem solid #f5f5f5; }

.secret {
	font-style: normal;
	color: #fff;
}
.secret::selection {
	color: #fff;
	background: #FFC4EA;
}

main { margin-top: 1.5rem; }

span.tag {
	margin-left: 0.4rem;
	background: #f5f5f5;
	padding: 0rem 0.3rem 0.2rem 0.3rem;
	font-size: 1.05rem;
	border-radius: 0.3rem;
}

span.tag-prose {
	background: #c22e2e;
	color: #fff;
}

.footnotes {
	font-size: 1.2rem;
}

form.newsletter {
	border-top: 0.05rem solid #ccc;
	text-align: center;
	padding: 1rem 1.5rem 1.5rem 1.5rem;
	margin: 0;
}
form.newsletter > input {
	/*margin: 0;*/
}

footer { margin: 2rem 0 0.4rem 0; }
footer > nav { border-top: 0.05rem solid #ccc; }
footer > nav { margin: 0; }
footer > nav > ul {
	width: 85%;
	margin: 0 auto;
	padding: 0.5rem 0;
	font-size: 1.3rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: space-between;
}
footer > nav > ul > li {
	margin: 0;
	text-align: center;
	width: 32%;

	display: inline-block;
	list-style-type: none;
}
footer > nav > ul > li > a {
	color: #666;
	text-decoration: inherit;
	display: block;
	padding: 0.5rem 1rem;
}
footer > nav > ul > li > a:visited {
	color: #666;
}
footer > nav > ul > li > a:hover,
footer > nav > ul > li > a:focus {
	color: #000;
}


.end-block {
	border-top: 0.05rem solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center
}

.copyright {
	margin: 0 0 0 0.7rem;
	font-size: 1rem;
	display: inline-block;
	flex-grow: 1;
}

ul.social { margin: 0; }
ul.social > li {
	display: inline-block;
}
ul.social > li > a {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul.social > li > a > svg {
	height: 1.2rem;
	width: auto;
	fill: #555;
	transition: all 0.2s;
}
.icon-soundcloud:hover svg, .icon-soundcloud:focus svg { fill: #ff8800; }
.icon-twitter:hover svg, .icon-twitter:focus svg { fill: #1da1f2; }
.icon-instagram:hover svg, .icon-instagram:focus svg { fill: #e1306c; }


label {
	display: inline-block;
	font-size: inherit;
	margin: 0 0.5rem 0.5rem 0;
	/*box-sizing: border-box;*/
}

/*input {	}*/

textarea,
select,
input {
	font-size: inherit;
	padding: 0.3rem;
	margin-bottom: 0.5rem;
	background: #f5f5f5;
	color: #000;
	border: 1px solid #ddd;
	max-width: 100%;
	/*box-sizing: border-box;*/
}
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	padding: 0.3rem 0.6rem;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: #f5f5f5;
	color: #000;
	border: 0;
	cursor: pointer;
	border: 1px solid #f5f5f5;
	/*box-sizing: border-box;*/
}
a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;

	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}
.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: #ddd;
	border: 1px solid #ddd;
}

code,
samp,
kbd,
pre {
	font-family: Hack, "courier new", courier, andale mono, "free mono", monospace;
	background: #f5f5f5;
	padding: 0.1rem 0.2rem;
	border: 1px solid #ddd;
	font-size: 1rem;
}

kbd {
	/* Makes the kbd element look like a keyboard key */
	border-bottom: 3px solid #ddd;
	/*padding: 0 0.3rem 0.15rem 0.3rem;*/
	padding: 0.3rem;
}

pre {
	padding: 1rem 1.2rem;
	max-width: 100%;
	overflow: auto;
}

pre code {
	/* When <code> is in a <pre>, reset it's formatting to blend in */
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

code pre {
	/* When <pre> is in a <code>, reset it's formatting to blend in */
	display: inline;
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

code.hljs {
	background: none;
	/*padding: 0.9rem 1.2rem;*/
	padding: 0;
}

hr {
	/* Reset the border of the <hr> separator, then set a better line */
	border: 0;
	border-bottom: 1px solid #ddd;
	margin: 2rem 0;
	position: relative;
	color: #ddd;
	text-align: center;
}
hr:after {
	content: "\2009//\2009";
	background: #fff;
	position: absolute;
	top: -1rem;
	margin-left: -0.7rem;
}

main.prose hr {
	border-bottom: 1px solid #fff;
	margin: 2.6rem 0;
	color: #000;
}
main.prose hr:after {
	content: " * * * ";
	top: -0.85rem;
	margin-left: -1.3rem;
	font-size: 2rem;
}

/*s { text-decoration-color: #555; }*/

mark {
	padding: 0rem 0.3rem;
	background: #ff0;
	color: #000;
}


@media screen and (max-width: 38rem) {
	html {
		font-size: 90%;
	}
	body { padding: 0.8rem 1.2rem 0rem 1.2rem; }
}


@media screen and (max-width: 30rem) {
	footer > nav > ul > li {
		width: 48%;
	}
}



/* FROM new.css but unused? */

abbr:hover {
	/* Set the '?' cursor while hovering an abbreviation */
	cursor: help;
}

blockquote {
	padding: 1.5rem;
	background: #f5f5f5;
	border-left: 0.5rem solid #ddd;
}

abbr {
	cursor: help;
}

blockquote *:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

details {
	/* Make the <details> look more "clickable" */
	padding: .6rem 1rem;
	background: #f5f5f5;
	border: 1px solid #ddd;
	/*border-radius: 4px;*/
}

summary {
	/* Makes the <summary> look more like a "clickable" link with the pointer cursor */
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	/* Adjust the <details> padding while open */
	padding-bottom: .75rem;
}

details[open] summary {
	/* Adjust the <details> padding while open */
	margin-bottom: 6px;
}

details[open]>*:last-child {
	/* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd::before {
	/* Add an arrow to data table definitions */
	content: '→ ';
}

fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid #ddd;
	/*border-radius: 4px;*/
}

legend {
	padding: auto .5rem;
}

table {
	/* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
	border-collapse: collapse;
	width: 100%
}

td,
th {
	border: 1px solid #ddd;
	text-align: left;
	padding: .5rem;
}

th {
	background: #f5f5f5;
}

tr:nth-child(even) {
	/* Set every other cell slightly darker. Improves readability. */
	background: #f5f5f5;
}

table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}

textarea {
	/* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
	max-width: 100%;
}

ol,
ul {
	/* Replace the browser default padding */
	padding-left: 2rem;
	/*list-style-position: outside;*/
}

li {
	margin-top: .4rem;
}

ul { list-style-type: "-  "; }

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}


img {
	max-width: 100%;
}


/* Fonts */

@font-face {
	font-family: 'Crimson';
	font-weight: normal;
	font-style: normal;
	font-display: swap;unicode-range: U+000-5FF;
	src: local('Crimson'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Regular.woff2') format('woff2'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Regular.woff') format('woff'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Regular.ttf') format('truetype');

}
@font-face {
	font-family: 'Crimson';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Crimson'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Bold.woff2') format('woff2'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Bold.woff') format('woff'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Crimson';
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Crimson'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Italic.woff2') format('woff2'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Italic.woff') format('woff'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Crimson';
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Crimson'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-BoldItalic.woff2') format('woff2'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-BoldItalic.woff') format('woff'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Crimson';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Crimson'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-SemiBold.woff2') format('woff2'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-SemiBold.woff') format('woff'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Crimson';
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Crimson'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-SemiBoldItalic.woff2') format('woff2'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-SemiBoldItalic.woff') format('woff'),
	     url('https://cdn.cjr.is/fonts/CrimsonText-SemiBoldItalic.ttf') format('truetype');
}

/* fix for Crimson line height */
strong {
	position: relative;
	vertical-align: top;
	font-size: 1.4rem;
	top: 0.35rem;
}
em {
	position: relative;
	vertical-align: top;
	top: 0.25rem;
}
em > strong {
	top: .07rem;
}
strong > em {
	top: 0rem;
}


@font-face {
	font-family: 'Hack';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
}
@font-face {
	font-family: 'Hack';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-bold-subset.woff?sha=3114f1256') format('woff');
}
@font-face {
	font-family: 'Hack';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff');
}
@font-face {
	font-family: 'Hack';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Hack'), url('https://cdn.cjr.is/fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2'), url('https://cdn.cjr.is/fonts/hack-bolditalic-subset.woff?sha=3114f1256') format('woff');
}
